@tailwind base;
@tailwind components;
@tailwind utilities;

.body-dark {
  background: #1a1e23;
  margin: 0;
}

.body-light {
  // background: #1a1e23;
  margin: 0;
}

html body {
  color: #8954A8;
  font-family: -apple-system, Roboto, sans-serif, serif;
}